@font-face {
  font-family: signatureUnited;
  src: url(../assets/Signature\ United.woff);
}

@font-face {
  font-family: rollerCoaster;
  src: url(../assets/Roller\ Coaster.ttf);
}

@font-face {
  font-family: zenaida;
  src: url(../assets/Zenaida-Bold.woff);
}

* {
  color: #F1EFE7;
  text-align: center;
}

body {
  background-color: #171717;
}

a {
  text-decoration: none;
}

.line {
  border-top: 1px solid #F1EFE7;
  width: 50%;
  margin: -30px auto 10px auto;
}

.hero_image {
  width: 400px;
}

.name {
  font-size: 195px;
  font-family: signatureUnited;
  margin: -60px auto -105px auto;
  color: #a62b3a;
}

.job {
  margin-left: 200px;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: rollerCoaster;
  /* font-family: zenaida; */
}

.footer {
  height:50px;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  position: relative;
  margin-top: 100px;
}

@media only screen and (max-width: 580px){

.hero_image {
  width: 85%;
}

.name {
  font-size: 110px;
  margin: -20px auto -48px auto;
}

.job {
  margin-left: 112px;
  font-size: 20px;
}

.line {
  border-top: 1px solid #F1EFE7;
  width: 50%;
  margin: 4px auto 0 auto;
}

}